body { font-family: Optima, Arial, serif; }
table { text-align: left; border-collapse: collapse; }
th { background-color: #555; color: #eee; padding: 5px 10px; font-weight: normal; border: 1px solid #eee; }
td.name { text-align: right; padding-right: 10px; width: 400px; }
td.true { background-color: #5f5; }
td.false { background-color: #f55; }
td.na { background-color: yellow; }
td { border: 1px solid #aaa; padding: 5px; vertical-align: top; }
dl { margin-left: 1em; }
h1 { background: #fee; }
#last-updated { background: #ffc; border-bottom: 1px dotted #aaa; padding: 0 3px; font-size: 13px; }
.test-code { background: #fff; }
tr { background: #eee; }
th.name { padding: 0 10px; }
th a { font-size: 11px; color: #eef; }
th.code { width: 100px; }
pre { width: 1024px; overflow: auto; }
abbr { border: none; }